/* You can add global styles to this file, and also import other style files */
:root {
    --dark-blue: rgb(3,4,94);
    --blue: rgb(0,119,182);
    --light-blue: rgb(144, 224, 239);
    --bright-white: rgb(255,255,255);
    --opaque-white: rgba(255,255,255,0.75);
    --medium-white: rgba(255,255,255,0.5);
}